@font-face {
    font-family: "Cardo-Italic";
    src: url('https://fonts.googleapis.com/css?family=Cardo:400i') format('truetype');
}



@font-face {
  font-family: "Raleway-Regular";
  src: url("font/raleway-regular.ttf") format("ttf");

}

@font-face {
  font-family: "Raleway-bold";
  src: url("fontRaleway-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway-lightitalic.ttf";
    src: url("font/raleway-lightitalic.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway-semibold.ttf";
  src: url("font/raleway-semibold.ttf") format("ttf");
}

p{
  font-family: "raleway";
}

h1{
  font-family: "Open Sans";
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 22px;
  margin-right: 22px;
  height: 100px;
  width: 386px;
  color: #6c7279;
  border-bottom: 1px solid;
}
@media (min-width: 1024px) {
  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100px;
    color: #6c7279;
    border-bottom: 1px solid;
  }
}

.navLeft{
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .navLeft{
    width: 200px;
  }

}
.nav .navRight{
  margin-left: 65%
}
.navList{
  display: none;
}
@media (min-width: 1024px) {
  .navList{
    position: relative;
    margin-left: 40%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway';
    font-size: 14px;


  }
  .navListLink{
    margin-right: 59px;
  }
  .ourteambr{

  }
}


.hamburger{
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: white;
}
@media (min-width: 1024px) {
  .hamburger{
    display: none;
  }
}

.container{
   margin-top: 90px;
   margin-left: 22px;
   height: 539px;
   width: 360px;
   color: #fff;
}
@media (min-width: 1024px) {
  .container{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    width: auto;
    margin-top: 156px;
    color: #fff;
  }

}
.headerContainer{
  background: url('../img/banner.jpg');
  width: 435px;
}

.headTitle{
  text-align: center;
  font-size: 32px;
}
@media (min-width: 1024px) {
  .headTitle{
    text-align: center;
    font-size: 42px;
  }

@media (min-width:1024px) {
  .headerbr{
    display: block;
  }
}
@media (min-width: 1024px) {
  .headtextbr{
    display: block;
  }
}
.headText{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 27px;
}

.moreBtn{
  height: 18px;
  width:  101px;
  padding: 15px 40px;
  margin-left: 90px;
  background: #e84545;
  border-radius: 2px;
  font-size: 13px;
  font-family: "Raleway";
  text-align: center;
}

@media (min-width: 1024px) {
  .moreBtn{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin: auto;
    margin-bottom: 157px;
    background: #e84545;
    border-radius: 2px;
    font-size: 13px;
    font-family: "Raleway";
    text-align: center;
  }
}

.part1{
  height: 1504px;
  width: 386px;
  padding: 180px 0px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

}

.part1Bloc{
  margin-bottom: 50px;
}

.titlePart1{
  margin-top: 30px;
}

.textPart1{
  margin-top: 20px;
  margin-bottom: 50px;
}
<<<<<<< HEAD

.part2{
  width: 386px;
  height: 2030px;
}

.imgPart2{
  width: 430px;
  height: 350px;
  border-bottom: 0.5px solid;
  color: #fff;
  margin-bottom: -2px;
}

.part3{
  width: 386px;
  height: 2557px;
  margin: 0px 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.p3ProfileImg{
  margin-top: 50px;
}


.p3ProfileName{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px
}

.p3ProfileRole{
  margin-bottom: 20px;
  font-size: 13px;
  color: #e84545
}

.p3ProfileBio{
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
  color: #6c7279;
}

.p3ProfileIconsContainer{
  display: flex;
  justify-content: center;
  font-size: 18px
}

.p3ProfileIcons{
  border: 1px solid;
  height: 40px;
  width: 40px;
  color: #c6cacc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-right: 10px;

}


@media (min-width: 600px) {

}

@media (min-width: 1200px) {

}
=======
>>>>>>> 940027c18e0daae050dca288059997e7b63d92e2
